nodered.json
[
    {
        "id": "de324364.b3b5f8",
        "type": "mqtt in",
        "z": "f1d807ba.fc1818",
        "name": "in mqtt exam from loraserver",
        "topic": "data",
        "qos": "0",
        "broker": "da3c80e9.e0cca",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "eba0bd07.aaa828",
                "10ba96d5.b7d7a1"
            ]
        ]
    },
    {
        "id": "eba0bd07.aaa828",
        "type": "debug",
        "z": "f1d807ba.fc1818",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 310,
        "y": 160,
        "wires": []
    },
    {
        "id": "f3d047a4.a49b9",
        "type": "mqtt out",
        "z": "f1d807ba.fc1818",
        "name": "out mqtt",
        "topic": "application/1/device/1234567812345678/tx",
        "qos": "",
        "retain": "",
        "broker": "da3c80e9.e0cca",
        "x": 420,
        "y": 600,
        "wires": [],
        "inputLabels": [
            "hello"
        ]
    },
    {
        "id": "8c5eefa3.1d7988",
        "type": "debug",
        "z": "f1d807ba.fc1818",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 410,
        "y": 520,
        "wires": []
    },
    {
        "id": "f5ebb8.d14e5c48",
        "type": "inject",
        "z": "f1d807ba.fc1818",
        "name": "data all",
        "topic": "application/1/device/1234567812345678/tx",
        "payload": "{\"confirmed\":true,\"data\":\"MTIzNDU2Nzg=\",\"fPort\":1,\"reference\":\"12345\",\"devEUI\":\"1234567812345678\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 560,
        "wires": [
            [
                "3782cfbb.98b06"
            ]
        ]
    },
    {
        "id": "3782cfbb.98b06",
        "type": "json",
        "z": "f1d807ba.fc1818",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 560,
        "wires": [
            [
                "8c5eefa3.1d7988",
                "f3d047a4.a49b9"
            ]
        ]
    },
    {
        "id": "7a213d35.66766c",
        "type": "mqtt in",
        "z": "f1d807ba.fc1818",
        "name": "data from cat",
        "topic": "data",
        "qos": "0",
        "broker": "d6a85777.3ae8c",
        "x": 70,
        "y": 360,
        "wires": [
            [
                "ffe13edf.2c7b48",
                "5c6f086f.320538"
            ]
        ]
    },
    {
        "id": "ffe13edf.2c7b48",
        "type": "debug",
        "z": "f1d807ba.fc1818",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 290,
        "y": 360,
        "wires": []
    },
    {
        "id": "10ba96d5.b7d7a1",
        "type": "json",
        "z": "f1d807ba.fc1818",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 120,
        "wires": [
            [
                "e74e5d41.1d7c2"
            ]
        ]
    },
    {
        "id": "269cb666.56517a",
        "type": "writefeed",
        "z": "f1d807ba.fc1818",
        "name": "writefeed",
        "feedid": "loraTest",
        "apikey": "Q8kJXjbVvbU8JhKOacqAMUT8aW9cyf7D",
        "data": "payload",
        "dataType": "msg",
        "x": 480,
        "y": 720,
        "wires": []
    },
    {
        "id": "88f5d024.41c23",
        "type": "inject",
        "z": "f1d807ba.fc1818",
        "name": "",
        "topic": "",
        "payload": "100",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 700,
        "wires": [
            [
                "91444f39.1747c8"
            ]
        ]
    },
    {
        "id": "96661f2a.331b3",
        "type": "inject",
        "z": "f1d807ba.fc1818",
        "name": "",
        "topic": "/loratest/dataH",
        "payload": "13",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 760,
        "wires": [
            [
                "d410d1b0.6d739"
            ]
        ]
    },
    {
        "id": "e74e5d41.1d7c2",
        "type": "base64",
        "z": "f1d807ba.fc1818",
        "name": "",
        "action": "b64",
        "property": "payload.data",
        "x": 440,
        "y": 120,
        "wires": [
            [
                "968070cf.8c9738"
            ]
        ]
    },
    {
        "id": "f15d2d9a.0b7ab",
        "type": "debug",
        "z": "f1d807ba.fc1818",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 770,
        "y": 40,
        "wires": []
    },
    {
        "id": "968070cf.8c9738",
        "type": "function",
        "z": "f1d807ba.fc1818",
        "name": "getDataField",
        "func": "var data = context.get('data') || 0;\nvar outputMsgs = [];\n // initialize variables\n\nif (msg.topic == \"application/1/device/1234567812345678/rx\")  // update context based on topic of input\n{\n    data = {payload: msg.payload.data};\n    context.set(\"data\", data);  // save last value in local context\n}\nvar words = data.payload.split(\"/\");\nfor (var w in words) {\n    outputMsgs.push(words[w]);\n}\n\n// now do the test to see if both inputs are triggered...\n    return [{topic:\"lora/data/1\",payload:outputMsgs[0]},{topic:\"lora/data/2\",payload:outputMsgs[1]}];",
        "outputs": 2,
        "noerr": 0,
        "x": 590,
        "y": 120,
        "wires": [
            [
                "f15d2d9a.0b7ab",
                "a1f8ba4f.2a716",
                "5eb80e87.1793c8"
            ],
            [
                "1b0cffb6.b640d8",
                "d0ecca2f.abc7e8",
                "a1f8ba4f.2a716"
            ]
        ]
    },
    {
        "id": "1b0cffb6.b640d8",
        "type": "debug",
        "z": "f1d807ba.fc1818",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 770,
        "y": 180,
        "wires": []
    },
    {
        "id": "a1f8ba4f.2a716",
        "type": "microgear",
        "z": "f1d807ba.fc1818",
        "name": "microgear",
        "appid": "LoraTEST",
        "key": "wv6yUf500N8EMtL",
        "secret": "AKdMNiysYYnKaF3TBNVp1kaaz",
        "alias": "",
        "topics": "",
        "active": true,
        "retain": "false",
        "retainType": "bool",
        "x": 760,
        "y": 220,
        "wires": [
            [
                "e1e7fb86.875b8"
            ]
        ]
    },
    {
        "id": "d410d1b0.6d739",
        "type": "debug",
        "z": "f1d807ba.fc1818",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 390,
        "y": 760,
        "wires": []
    },
    {
        "id": "e1e7fb86.875b8",
        "type": "debug",
        "z": "f1d807ba.fc1818",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 930,
        "y": 220,
        "wires": []
    },
    {
        "id": "91444f39.1747c8",
        "type": "function",
        "z": "f1d807ba.fc1818",
        "name": "convert to json",
        "func": "var data = msg.payload;\nvar stringdata = `{\"data\":${data}}`;\nreturn {payload:stringdata};",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 700,
        "wires": [
            [
                "269cb666.56517a",
                "e771fb0e.9b1538"
            ]
        ]
    },
    {
        "id": "e771fb0e.9b1538",
        "type": "debug",
        "z": "f1d807ba.fc1818",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 490,
        "y": 680,
        "wires": []
    },
    {
        "id": "5eb80e87.1793c8",
        "type": "function",
        "z": "f1d807ba.fc1818",
        "name": "convert to json1",
        "func": "var data = msg.payload;\nvar stringdata = `{\"humidity\":${data}}`;\nreturn {payload:stringdata};",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 80,
        "wires": [
            [
                "cce90a00.4e01d8"
            ]
        ]
    },
    {
        "id": "cce90a00.4e01d8",
        "type": "writefeed",
        "z": "f1d807ba.fc1818",
        "name": "writefeed",
        "feedid": "loraTest",
        "apikey": "Q8kJXjbVvbU8JhKOacqAMUT8aW9cyf7D",
        "data": "payload",
        "dataType": "msg",
        "x": 960,
        "y": 80,
        "wires": []
    },
    {
        "id": "d0ecca2f.abc7e8",
        "type": "function",
        "z": "f1d807ba.fc1818",
        "name": "convert to json2",
        "func": "var data = msg.payload;\nvar stringdata = `{\"temperature\":${data}}`;\nreturn {payload:stringdata};",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 140,
        "wires": [
            [
                "8ae83f95.165d1"
            ]
        ]
    },
    {
        "id": "8ae83f95.165d1",
        "type": "writefeed",
        "z": "f1d807ba.fc1818",
        "name": "writefeed",
        "feedid": "loraTest",
        "apikey": "Q8kJXjbVvbU8JhKOacqAMUT8aW9cyf7D",
        "data": "payload",
        "dataType": "msg",
        "x": 960,
        "y": 140,
        "wires": []
    },
    {
        "id": "5c6f086f.320538",
        "type": "json",
        "z": "f1d807ba.fc1818",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 280,
        "y": 320,
        "wires": [
            [
                "b146b9b5.02702",
                "e915c719.da9d9"
            ]
        ]
    },
    {
        "id": "4224dccf.3d9bfc",
        "type": "debug",
        "z": "f1d807ba.fc1818",
        "name": "data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 590,
        "y": 320,
        "wires": []
    },
    {
        "id": "b146b9b5.02702",
        "type": "debug",
        "z": "f1d807ba.fc1818",
        "name": "rawData",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.DevEUI_uplink.payload_hex",
        "x": 440,
        "y": 300,
        "wires": []
    },
    {
        "id": "e915c719.da9d9",
        "type": "function",
        "z": "f1d807ba.fc1818",
        "name": "hex to string",
        "func": "var data = msg.payload.DevEUI_uplink.payload_hex;\n// var returnData = context.get('returnData') || 0;\n\nvar str = '';\nfor (var i = 0; (i < data.length && data.substr(i, 2) !== '00'); i += 2)\n    {str += String.fromCharCode(parseInt(data.substr(i, 2), 16));}\n\n// returnData = {payload: str};\n// context.set(\"returnData\", returnData);  \n\nreturn {topic:\"lora/data/1\",payload:str}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 340,
        "wires": [
            [
                "4224dccf.3d9bfc",
                "4e7c5982.7e64e8",
                "f77e50e5.07a748"
            ]
        ]
    },
    {
        "id": "2e319927.f797e6",
        "type": "comment",
        "z": "f1d807ba.fc1818",
        "name": "note",
        "info": "function can't return type string",
        "x": 250,
        "y": 20,
        "wires": []
    },
    {
        "id": "4e7c5982.7e64e8",
        "type": "function",
        "z": "f1d807ba.fc1818",
        "name": "convert to json22",
        "func": "var data = msg.payload;\nvar stringdata = `{\"temperature\":${data}}`;\nreturn {payload:stringdata};",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 400,
        "wires": [
            [
                "c9a6b51b.664bd8",
                "69eaa0aa.2ca018"
            ]
        ]
    },
    {
        "id": "c9a6b51b.664bd8",
        "type": "writefeed",
        "z": "f1d807ba.fc1818",
        "name": "writefeed",
        "feedid": "loraTest",
        "apikey": "Q8kJXjbVvbU8JhKOacqAMUT8aW9cyf7D",
        "data": "payload",
        "dataType": "msg",
        "x": 840,
        "y": 400,
        "wires": []
    },
    {
        "id": "69eaa0aa.2ca018",
        "type": "debug",
        "z": "f1d807ba.fc1818",
        "name": "data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "f77e50e5.07a748",
        "type": "microgear",
        "z": "f1d807ba.fc1818",
        "name": "microgear",
        "appid": "LoraTEST",
        "key": "wv6yUf500N8EMtL",
        "secret": "AKdMNiysYYnKaF3TBNVp1kaaz",
        "alias": "",
        "topics": "",
        "active": true,
        "retain": "false",
        "retainType": "bool",
        "x": 620,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "da3c80e9.e0cca",
        "type": "mqtt-broker",
        "z": "",
        "name": "send mqtt",
        "broker": "",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "d6a85777.3ae8c",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt-test-node-red",
        "broker": "35.240.242.118",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    }
]